<header class="container px-5 pt-5" id="about">
  <div class="row align-items-center g-5 flex-wrap-reverse flex-lg-wrap">
      <div class="col-6 offset-3 offset-lg-0 col-lg-5 mt-0">
          <img src="assets/images/garden-bg.png" class="d-block mx-lg-auto img-fluid" alt="Tech Solidarity Lab Logo that shows a green and gold motif of a flower garden" width="700" height="500" loading="lazy">
      </div>
    <div class="col-12 col-lg-7 mt-5">
      <h1 class="display-5 mb-3">About Our Lab</h1>
      <p>Tech Solidarity Lab seeks to open new opportunities for community-driven technology development and extend theoretical frameworks that further our understanding of design, politics, and justice. We draw together techniques of design inquiry and participatory research to respond to systemic inequities embedded in emerging technologies and collectively imagine more accountable and liberatory alternatives.</p>
      <p>The Tech Solidarity Lab is a part of the <a href="https://www.hcii.cmu.edu/">Human-Computer Interaction Institute</a> at Carnegie Mellon University.</p>
    </div>
  </div>
</header>
