<section id="contact" class="px-5 py-5">
  <div class="container py-5">
    <div class="row">
        <h1 class="display-5 mb-3">Work With Us</h2>
        <div class="row">
          <div class="col-md-6 mb-4">
            <h3>If you are interested in a research position:</h2>
              <p>If you are a current student at CMU, you can apply to the lab via this <a href="#">form</a>. If you are interested in a PhD with us, please <a href="https://hcii.cmu.edu/academics/phd-hci/admissions">apply to CMU</a>.</p>
          </div>
          <div class="col-md-6">
            <h3>If you are interested in partnering in research:</h2>
              <p>Please <a href="#">reach out</a> if you have ideas on how our team could contribute research expertise to local grassroots initiatives or broader coalitions promoting more equitable, just, and accessible futures.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="container py-5">
    <div class="row">
      <svg width="140" height="381" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    </div>
    <img class="leaf-one" src="assets/images/leaf-one.png"/>
    <img class="leaf-two" src="assets/images/leaf-two.png"/>
  </div>
</section>
