<header class="container-xl px-4 py-5">
    <div class="row align-items-end g-5 py-5">
        <div class="col-6 offset-3 offset-lg-0 col-lg-4">
            <img src="assets/images/garden-bg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
      <div class="col-12 col-lg-8">
        <h1 class="display-5 fw-bold lh-1 mb-3">About Our Lab</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus, arcu eget euismod egestas, velit dui convallis purus, ac volutpat neque sapien ut sapien. Phasellus suscipit volutpat laoreet. Vivamus a nulla vel nulla lobortis tristique quis et odio. Quisque bibendum neque eu risus mattis tincidunt. Proin venenatis magna nec euismod aliquam. Curabitur eget quam pellentesque justo posuere rhoncus. Duis sed lectus id eros feugiat tempus. Nunc ut tempus felis, in mattis ipsum. Pellentesque et rutrum risus. Nullam dapibus id nisi id lobortis. Fusce venenatis nisl ac justo consectetur, quis lacinia justo fringilla. Nunc at nisi id elit gravida iaculis vel ut magna. Mauris lobortis semper mi, eleifend mattis ante accumsan at. Maecenas interdum eleifend ipsum vel fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
</header>