<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ site.bannerimg}}" />
  <meta name="  twitter:image:alt" content="{{ site.bannerimgalt}}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:url"                content="{{ site.url }}" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="{{ site.title }}" />
  <meta property="og:description"        content="{{ site.description }}" />
  <meta property="og:image"              content="{{ site.bannerimg }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site.webmanifest">


  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/whf3miq.css">
  <script src="https://kit.fontawesome.com/94f64d7e45.js" crossorigin="anonymous"></script>

  <!-- Animate CSS -->
  <link rel="stylesheet" href="assets/css/animate.min.css" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
