<nav class="navbar navbar-expand-lg navbar-light p-3">
  <div class="container-fluid p-0">
    <a class="navbar-brand" href="#"><img src="assets/images/wordmark.png" width="306" height="108" alt="Tech Solidarity Lab Wordmark"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto px-3">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Our Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Work With Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
