<section id="publications" class="px-5 py-5 bg-light">
    <div class="container pt-5">
      <h1 class="display-5 mb-3">Recent Publications</h1>
        <div class="row mb-2">
            <div class="col">
                <ul class="px-0 list-unstyled">
                    <li class="mb-3">Sum, C. et al. “Translation as (Re)mediation: How Ethnic Community-Based Organizations Negotiate Legitimacy.” ACM CHI’23.</li>
                    <li class="mb-3">Spektor, F. et al. “Charting the Automation of Hospitality: An interdisciplinary literature review examining the evolution of frontline service work in the face of algorithmic management.” ACM CSCW’23.</li> 
                    <li class="mb-3">Fox, S. et al., “Patchwork: The Hidden, Human Labor of AI Integration within Essential Work.” ACM CSCW’23.</li>
                    <li class="mb-3">Kang, E., and Fox, S. "Stories from the Frontline: Recuperating Essential Worker Accounts of AI Integration." ACM DIS’22.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
