<section id="publications" class="px-5 py-5 bg-white">
    <div class="container pt-5">
      <h1 class="display-5 mb-3">Recent Publications</h1>
        <div class="row mb-2">
            <div class="col">
                <ul class="px-0 list-unstyled">
                    <li class="mb-3"><a href="/assets/pdfs/Spektor et al-Designing_for_Wellbeing_DIS23.pdf">Spektor, F. et al. “Designing for Wellbeing: Worker-Generated Ideas on Adapting Algorithmic Management in the Hospitality Industry.” ACM DIS’23.</a></li>
                    <li class="mb-3"><a href="/assets/pdfs/Sum et al. - Translation as (Re)mediation - CHI 2023.pdf">Sum, C. et al. “Translation as (Re)mediation: How Ethnic Community-Based Organizations Negotiate Legitimacy.” ACM CHI’23.</a></li>
                    <li class="mb-3"><a href="/assets/pdfs/Spektor et al. - Charting the Automation of Hospitality - CSCW 2023.pdf">Spektor, F. et al. “Charting the Automation of Hospitality: An interdisciplinary literature review examining the evolution of frontline service work in the face of algorithmic management.” ACM CSCW’23.</a></li> 
                    <li class="mb-3"><a href="/assets/pdfs/Fox et al. - Patchwork - CSCW 2023.pdf">Fox, S. et al., “Patchwork: The Hidden, Human Labor of AI Integration within Essential Work.” ACM CSCW’23.</a></li>
                    <li class="mb-3"><a href="/assets/pdfs/Kang and Fox - Stories from the Frontline - DIS 2022.pdf">Kang, E. and Fox, S. "Stories from the Frontline: Recuperating Essential Worker Accounts of AI Integration." ACM DIS’22.</a></li>
                    <li class="mb-3"><a href="/assets/pdfs/Fan and Fox - Access Under Duress - GROUP 2022.pdf">Fan, B. and Fox, S. "Access Under Duress: Pandemic-Era Lessons on Digital Participation and Datafication in Civic Engagement." ACM GROUP’22.</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
