<section id="publications" class="px-5 py-5 bg-white">
    <div class="container pt-5">
      <h1 class="display-5 mb-3">Recent Publications</h1>
        <div class="row mb-2">
            <div class="col">
                <ul class="px-0 list-unstyled">
                   
                    <li class="mb-3">Sum, C. et al. <a href="assets/pdfs/Sum_et_al_Its_Always_a_Losing_Game_CSCW_2025_PREPRINT.pdf">"'It’s Always a Losing Game': How Workers Understand and Resist Surveillance Technologies on the Job"</a> ACM CSCW’25.</li>
                    <li class="mb-3">Sum, C. et al. <a href=" assets/pdfs/Sum_et_al-Youre_in_a_Ferarri_Im_Waiting_for_the_Bus-CSCW 2025.pdf">"'You’re in a Ferrari. I’m Waiting for the Bus': Confronting Tensions in Community-University Partnerships"</a> ACM CSCW’25.</li>
                    <li class="mb-3">Payne, B. and Taylor, J. et al. <a href="https://dl.acm.org/doi/10.1145/3701186"> "Building Solidarity Amid Hostility: Experiences of Fat People in Online Communities"</a> ACM GROUP’25.</li>
                    <li class="mb-3">Akridge, H. et al. <a href="assets/pdfs/Akridge et al. - The Bus is Nothing Without Us - CHI 2024.pdf">"'The Bus is Nothing Without Us': Making Visible the Labor of Bus Operators amid the Ongoing Push Towards Transit Automation."</a> ACM CHI’24.</li>
                    <li class="mb-3">Taylor, J. et al. <a href="https://doi.org/10.1145/3613904.3642494"> "Cruising Queer HCI on the DL: A Literature Review of LGBTQ+ People in HCI"</a> ACM CHI’24.</li>
                    <li class="mb-3">Taylor, J. et al. <a href="https://doi.org/10.1145/3673229">"Carefully Unmaking the 'Marginalized User:' A Diffractive Analysis of a Gay Online Community"</a> ACM TOCHI.</li>
                    <li class="mb-3">Taylor, J. et al. <a href="https://doi.org/10.1145/3648614">"Mitigating Epistemic Injustice: The Online Construction of a Bisexual Culture"</a> ACM TOCHI.</li>
                    <li class="mb-3">Spektor, F. et al. <a href="/assets/pdfs/Spektor et al-Designing_for_Wellbeing_DIS23.pdf">“Designing for Wellbeing: Worker-Generated Ideas on Adapting Algorithmic Management in the Hospitality Industry.”</a> ACM DIS’23.</li>
                    <li class="mb-3">Sum, C. et al. <a href="/assets/pdfs/Sum et al. - Translation as (Re)mediation - CHI 2023.pdf">“Translation as (Re)mediation: How Ethnic Community-Based Organizations Negotiate Legitimacy.”</a> ACM CHI’23.</li>
                    <li class="mb-3">Spektor, F. et al. <a href="/assets/pdfs/Spektor et al. - Charting the Automation of Hospitality - CSCW 2023.pdf">“Charting the Automation of Hospitality: An interdisciplinary literature review examining the evolution of frontline service work in the face of algorithmic management.”</a> ACM CSCW’23.</li> 
                    <li class="mb-3">Fox, S. et al., <a href="/assets/pdfs/Fox et al. - Patchwork - CSCW 2023.pdf">“Patchwork: The Hidden, Human Labor of AI Integration within Essential Work.”</a> ACM CSCW’23.</li>
                    <li class="mb-3">Kang, E. and Fox, S. <a href="/assets/pdfs/Kang and Fox - Stories from the Frontline - DIS 2022.pdf">"Stories from the Frontline: Recuperating Essential Worker Accounts of AI Integration."</a> ACM DIS’22.</li>
                    <li class="mb-3">Fan, B. and Fox, S. <a href="/assets/pdfs/Fan and Fox - Access Under Duress - GROUP 2022.pdf">"Access Under Duress: Pandemic-Era Lessons on Digital Participation and Datafication in Civic Engagement."</a> ACM GROUP’22.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
