<section id="team" class="px-5 py-5 bg-white">
  <div class="container py-5">
    <h1 class="display-5 mb-3">Team</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row mb-2">
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/sarah.jpg" class="img-fluid" alt="Photo of Sarah">
        <p class="text-center py-4"><a href="https://www.sarahfox.info/">Sarah Fox</a> | Lab Director</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/franky.jpg" class="img-fluid" alt="Photo of Franky">
        <p class="text-center py-4"><a href="https://scholar.google.com/citations?user=lx2yVI0AAAAJ&hl=en&oi=ao">Franchesca Spektor</a> | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/cella.jpg" class="img-fluid" alt="Photo of Cella">
        <p class="text-center py-4"><a href="https://cella.io/">Cella Sum</a> | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/jordan.jpg" class="img-fluid" alt="Photo of Jordan">
        <p class="text-center py-4"><a href="https://jtaylor.gay/">Jordan Taylor</a> | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
   <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/shivani.jpg" class="img-fluid" alt="Photo of Cella">
        <p class="text-center py-4"><a href="https://www.shivanikapania.com/">Shivani Kapania</a> | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->      
    </div><!-- /.row -->
  </div>
    </section>

  <section id="alumni" class="px-5 py-5 bg-white">
  <div class="container py-5">
    <h1 class="display-5 mb-3">Alumni</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row mb-2">
      <div class="col-12 col-md-6 col-lg-3">
      <p>Hunter Akridge | PhD Student in the Department of Anthropology, Princeton University </p>
      <p>Bobbie Fan | Data Justice Coordinator at the Black Equity Coalition; Board Member of Pittsburgh Regional Transit</p>
      <p>Esther Kang | Assistant Professor of Design Studies, University of Wisconsin Madison</p>
      <p>Chinar Mehta | PhD Candidate in the Department of Communication, University of Hyderabad</p>
      <p>Alex Ahmed | Front-end Developer at Sassafras Tech Collective</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
    
  </section>
  
