<section id="team" class="px-5 py-5 bg-white">
  <div class="container py-5">
    <h1 class="display-5 mb-3">Team</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row mb-2">
      <div class="col-12 col-lg-3">
        <img src="/assets/images/sarah.jpg" class="img-fluid" alt="Photo of Sarah">
        <p class="text-center py-4">Sarah Fox | Lab Director</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <p class="text-center py-4">Bonnie Fan | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/esther.png" class="img-fluid" alt="Photo of Esther">
        <p class="text-center py-4">Esther Kang | PhD Student, Design</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/bea.jpg" class="img-fluid" alt="Photo of Bea">
        <p class="text-center py-4">Bea Maggipinto | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/chinar.jpg" class="img-fluid" alt="Photo of Chinar">
        <p class="text-center py-4">Chinar Mehta | Fulbright Fellow</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <svg class="bd-placeholder-img" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <p class="text-center py-4">Franchesca Spektor | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/cella.jpg" class="img-fluid" alt="Photo of Cella">
        <p class="text-center py-4">Cella Sum | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
    
  </section>
  