<section id="team" class="px-5 py-5 bg-white">
  <div class="container py-5">
    <h1 class="display-5 mb-3">Team</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row mb-2">
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/sarah.jpg" class="img-fluid" alt="Photo of Sarah">
        <p class="text-center py-4"><a href="https://www.sarahfox.info/">Sarah Fox</a> | Lab Director</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/jordan.jpg" class="img-fluid" alt="Photo of Jordan">
        <p class="text-center py-4"><a href="https://jtaylor.lgbt/">Jordan Taylor</a> | PhD Candidate, HCII</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/cella.jpg" class="img-fluid" alt="Photo of Cella">
        <p class="text-center py-4"><a href="https://cella.io/">Cella Sum</a> | PhD Candidate, HCII</p>
      </div><!-- /.col-lg-4 -->
         <div class="col-12 col-md-6 col-lg-3">
        <img src="/assets/images/shivani.jpg" class="img-fluid" alt="Photo of Shivani">
        <p class="text-center py-4"><a href="https://www.shivanikapania.com/">Shivani Kapania</a> | PhD Student, HCII</p>
      </div><!-- /.col-lg-4 -->     
    </div><!-- /.row -->
  </div>
    </section>

  <section id="alumni" class="px-5 py-5 bg-white">
  <div class="container py-5">
    <h1 class="display-5 mb-3">Alumni</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row mb-2">
      <div>
      <p><a href="https://www.linkedin.com/in/fspektor/">Franchesca Spektor</a> | Postdoctoral Fellow, University of California San Diego Labor Center</p>
      <p><a href="https://anthropology.princeton.edu/people/hunter-akridge">Hunter Akridge</a> | PhD Student in the Department of Anthropology, Princeton University </p>
      <p><a href="https://www.linkedin.com/in/bonniefan/">Bobbie Fan</a> | Data Justice Coordinator at the Black Equity Coalition; Board Member of Pittsburgh Regional Transit</p>
      <p><a href="https://www.estherykang.com/">Esther Kang</a> | Assistant Professor of Design Studies, University of Wisconsin Madison</p>
      <p><a href="https://chinarm.github.io/">Chinar Mehta</a> | Assistant Professor of Information Technology and Society, International Institute of Information Technology, Bangalore</p>
      <p><a href="https://sassafras.coop/about">Alex Ahmed</a> | Developer/Owner at Sassafras Tech Collective</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </div>
    
  </section>
  
