<section id="work" class="bg-alternate px-5 py-5">
  <div class="container py-5">
    <h1 class="display-5 mb-3 mb-md-5">Our Work</h2>
    <div class="row g-5">
      <div class="col-lg-4">
        <div class="border border-3 p-4 h-100">
          <h2 class="h4"">Futures of Work</h3>
          <p class="card-text mb-auto">Our work investigates the social, political, and material conditions driving the deployment of AI and automation technologies within essential sectors (waste, care, hospitality, and transportation), with a focus on how such decisions affect frontline staff.</p>
        </div>
        
      </div>
      <div class="col-lg-4">
        <div class=" border border-3 p-4 h-100">
          <h2 class="h4">Emergent Mobilities</h3>
          <p class="card-text mb-auto">We examine the impacts of emergent mobility technologies on sidewalks and public transit, and contribute to the design of community-driven transportation systems infused with access and equity.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="border border-3 p-4 h-100">
          <h2 class="h4">Community Governance of Tech</h3>  
          <p class="card-text mb-auto">Public technology cannot be designed or implemented in a way that is purposeful and ethical without meaningful community involvement. Our work seeks to define design and regulatory strategies that ensure equitable outcomes over the long term.</p>
        </div>
      </div>
    </div>
  </div>
    
  </section>
  