---
---

// base variable overrides
$primary: #222222;
$secondary: #214C4C;
$tertiary: #F4E8D8;

$font-family-sans-serif-headline:       "neue-kabel",sans-serif;
$font-family-sans-serif:       "futura-pt",sans-serif;
$font-size-base: 1.1rem;

$spacer: 1rem;
$lead-font-weight: 500;
$display-font-weight:700;
$headings-color: $primary;
$blockquote-font-size: $font-size-base;

//navbar variable overrides
$navbar-light-color:                $primary;
$navbar-light-hover-color:          $secondary;
$navbar-light-active-color:         $secondary;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: $primary;
$navbar-brand-font-size:            $font-size-base;
$navbar-nav-link-padding-x:         2rem;
$navbar-light-brand-color:          $secondary;
$navbar-brand-font-family: 'Poppins', sans-serif;

$table-group-separator-color: $secondary;

@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';

.navbar {
  padding-right: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up(lg) {
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
  }
}

.navbar-brand {
  width: 199px;
  height: 70px;
  padding: 0;

  @include media-breakpoint-up(lg) {
    width: 306px;
    height: 108px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}

.navbar-toggler-icon {
  background: #EDDBC2;
}

.nav-item {
  font-size: $font-size-base * 1.5;
}

.container {
  position: relative;
  @include media-breakpoint-up(lg) {
    max-width: 1000px;
  }

}

body {
  position: relative;
  background-color: $tertiary;
}

#about {
  figure {
    @include media-breakpoint-up(lg) {
      padding: 0 7.5rem;
    }

    p {
      color: $gray-600;
    }

    figcaption {
      margin-top: 1rem;
    }
  }
}

h1, h2, h3 {
  font-family: $font-family-sans-serif-headline;
}

.table {
  > :not(:first-child) {
    border-top: $table-border-width solid $table-group-separator-color;
  }
}

.bg-alternate {
  background-color: $secondary;
  color: $tertiary;

  h1, h2, h3 {
    color: $tertiary;
  }
  
}

.bd-placeholder-img {
  width: 100%;
  height: auto;
}

.leaf-one {
  position: absolute;
  right: -60px;
  bottom: -3px;
  width: 150px;
  height: auto;
}

.leaf-two {
  position: absolute;
  left: -40px;
  bottom: 32px;
  width: 127px;
  height: auto;
}